name: "Snyk Test"

on:
  push:
    branches:
    - master

jobs:
  Pipeline-Job:
    # Configure Environment
    name: 'Snyk Test'
    runs-on: ubuntu-latest
    env: 
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
       
    steps:
    # Checkout Code
    - name: Checkout Code
      uses: actions/checkout@v1

    # Install and Authenticate to Snyk
    - name: Install Snyk & Authenticate
      run: |
         sudo npm install -g snyk
         snyk auth ${SNYK_TOKEN}

    # Run Snyk Open Source Test
    - name: Run Snyk Open Source Test
      run: |
         snyk test --severity-threshold=high --sarif --sarif-file-output=results.sarif
      continue-on-error: true
    # Upload Results  
    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@v3
      with:
        # Path to SARIF file relative to the root of the repository
        sarif_file: results.sarif
        
    # Run Snyk Open Source Monitor
    - name: Run Snyk Open Source Monitor
      run: |
         snyk monitor --severity-threshold=high --org=Afocante_WebStore --project-name=github_action
      continue-on-error: true
